<div class="panel-body">
    <table class="table">
        <tr>
            <td><label class="control-label required">Trendyol Markası <span data-toggle="tooltip" title="Zorunlu Alan! Arama alanına markanızı tanımalayan anahtar kelimeler girerek arama yapabilirsiniz. Listlenen Trendyol markalarından birini seçerek eşleştirme yapabilisiniz. Eğer markanız arama sonuçlarında görünmüyorsa Trendyol destek birimi ile iletişime geçerek markanızı ekletebilirsiniz."></span></label></td>


            <td class="right">
                <a href="#" id="ty_manufacturer_id" class="eslestir" data-type="typeaheadjs"
                   data-pk="{{ manufacturer_id }}" data-value="{{ ty_manufacturer_id }}"
                   data-emptytext="Marka Eşleştirin"
                   data-url="index.php?route=entegrasyon/genel/save_setting&code=ty&controller=manufacturer&{{ token_link }}"
                   data-title="Lütfen Marka Arayın"></a>
            </td>
        </tr>
        <tr>
            <td> <label class="control-label">Para Birimi <span data-toggle="tooltip" title="" data-original-title="Zorunlu Değil!,  Üreticide yer alan ürünler için TL haricinde bir para birimi kullanıyorsanız, kullanığınız para birimini seçiniz. Üreticide yer alan ürün tutarı, seçilen para biriminden TL ye çevrilerek işlem yapılacaktır. TL para birimini kullanıyorsanız seçim yapmanıza gerek yoktur. Ürüne özel bir para birimi girilmediyse markaya özel para birimi işleme alınır."></span></label></td>
            <td><a href="#" id="ty_currency" class="editable"  data-type="select" data-source='index.php?route=entegrasyon/genel/currencies&{{ token_link }}' data-pk="{{ manufacturer_id  }}" data-emptytext="Para birimi seçiniz" data-value="{{ ty_currency }}" data-url="index.php?route=entegrasyon/genel/save_setting&code=ty&controller=manufacturer&{{ token_link }}" data-title="Lütfen para birimi seçiniz"></a>
            </td>
        </tr>



        <tr>
            <td><label class="control-label">Sabit Fiyat Artış Oranı <span data-toggle="tooltip" title="" data-original-title="Zorunlu Değil!, Eğer markaya özel bir komisyon oranı belirlyecekseniz buraya sadece rakamla bir komisyon oranı girin, örneğin ürünü %20 fiyat artışı ile göndermek isterseniz bu alana 20 yazınız. Ürüne özel bir komisyon oranı girilmediyse markaya özel oran işleme alınır."></span></label></td>
            <td><a href="#" id="ty_commission" class="editable" data-pk="{{ manufacturer_id }}"
                   data-emptytext="Sabit Fiyat Artış Oranı Giriniz" data-value="{{ ty_commission }}"
                   data-url="index.php?route=entegrasyon/genel/save_setting&code=ty&controller=manufacturer&{{ token_link }}"
                   data-title="Lütfen Sabit Fiyat Artış Oranı Giriniz"></a>
            </td>
        </tr>


        <tr>
            <td><label class="control-label">Dinamik Fiyat Artış Oranları <span data-toggle="tooltip" title="" data-original-title="Ürün fiyatına bağlı olarak mevcut fiyatı belirlenen oranla çarpın, örneğin 10 TL'nin altındaki tüm fiyatlara yüzde 100 fiyat artışı uygulamak istiyorsanız, sadece 10:100 yazın, yada örneğin 50'nin altındaki tüm fiyatları %50 artış uygulamak için yeni satır ekleyin ve 50:50' yazın. 200 tl nin altındaki fiyatlara %30 fiyat artışı uygulama için yeni satır ekleyin ve 200:30 yazın. Dilediğiniz kadar satır ekleyebilirsiniz."></span></label></td>
            <td><a href="#" data-type="textarea" id="ty_price_multiplier" class="editable" data-pk="{{ manufacturer_id }}"
                   data-emptytext="Dinamik Fiyat Artış Oranları Ekleyin" data-value="{{ ty_price_multiplier }}"
                   data-url="index.php?route=entegrasyon/genel/save_setting&code=ty&controller=manufacturer&{{ token_link }}"
                   data-title="Dinamik Fiyat Artış Oranları Ekleyin"></a>
            </td>
        </tr>


        <tr>
            <td><label class="control-label">Kargo Ücreti <span data-toggle="tooltip" title="" data-original-title="Zorunlu Değil!, Eğer markaya özel kargo ücreti belirleyecekseniz buraya sadece rakamla bir kargo ücreti girin. Girilen değer ürün fiyatına eklenir."></span></label></td>
            <td><a href="#" id="ty_shipping_price" class="editable"  data-pk="{{ manufacturer_id }}" data-emptytext="Kargo ücreti giriniz" data-value="{{ ty_shipping_price }}" data-url="index.php?route=entegrasyon/genel/save_setting&code=ty&controller=manufacturer&{{ token_link }}" data-title="Lütfen kargo ücreti giriniz"></a>
            </td>
        </tr>

        <tr>
            <td><label class="control-label">Trendyol Teslimat Adresi <span data-toggle="tooltip" title="Zorunlu Değil! Ürünlerinizin hangi adresinizden kargolanacağını seçiniz."></span></label></td>
            <td>
                <a href="#" id="ty_setting_shipping_address"  data-url="index.php?route=entegrasyon/genel/save_setting&code=ty&controller=manufacturer&{{ token_link }}" data-name="ty_setting_shipping_address" data-type="select" data-source='index.php?route=entegrasyon/genel/get_ty_addreses&type=Shipment&{{ token_link }}'
                   data-value="{{ ty_setting_shipping_address }}" data-title="Trendyol Teslimat Adresi"  data-pk="{{ manufacturer_id}}" class="editable" data-emptytext="Teslimat Adresi Seçiniz" title="Şablonlar"></a>

            </td>
        </tr>

        <tr>
            <td><label class="control-label">Trendyol İade Adresi <span data-toggle="tooltip" title="iade edilen ürünleriniz hangi adresinize gönderilecek ?"></span></label></td>
            <td>
                <a href="#" id="ty_setting_returning_address"  data-url="index.php?route=entegrasyon/genel/save_setting&code=ty&controller=manufacturer&{{ token_link }}" data-name="ty_setting_returning_address" data-type="select" data-source='index.php?route=entegrasyon/genel/get_ty_addreses&type=Returning&{{ token_link }}'
                   data-value="{{ ty_setting_returning_address }}" data-title="Trendyol İade Adresi"  data-pk="{{ manufacturer_id}}" class="editable" data-emptytext="İade Adresi Seçiniz" title="Şablonlar"></a>

            </td>
        </tr>


    </table>

</div>
<div class="panel-footer">
    <button id="btnComplate" class="btn btn-primary btn-lg btn-block">Bitti</button>
</div>
<script>


    $(document).ready(function () {


        $('.eslestir').editable({
            mode: 'inline',
            typeahead: {
                limit: 200,
                remote: "index.php?route=entegrasyon/genel/getjson&page=manufacturers&code=ty&filter_name=%QUERY&{{ token_link }}",
                displayKey: 'manufacturer_id',
                valueKey: 'name',
                display: function (item) {
                    return item.name
                },

            }, success: function (json, newValue) {

                if (!json['status']) {

                    $.toast({
                        heading: 'Hata',
                        text: json['message'],
                        position: 'top-right',
                        loader: true,
                        allowToastClose: false,
                        showHideTransition: 'slide',
                        icon: 'warning'
                    });


                } else {

                    $.toast({
                        heading: 'Başarılı',
                        text: json['message'],
                        position: 'top-right',
                        loader: true,
                        allowToastClose: false,
                        showHideTransition: 'slide',
                        icon: 'success'
                    });

                }

            }
        });

        /*.on('save', function(e, params) {
        console.log(e);
        if(params.newValue == ''){

            $.toast({heading: 'Başarılı',text: 'Eşleştirme Silindi!', position: 'top-right',loader: false,allowToastClose: false,showHideTransition: 'slide',icon: 'success'});

        } else {
            $.toast({heading: 'Başarılı',text: params.newValue +' Başarıyla Eşleşti', position: 'top-right',loader: false,allowToastClose: false,showHideTransition: 'slide',icon: 'success'});

        }
    })*/

        $('.editable').editable({mode : 'inline', inputclass: 'intclass input-sm',success:function (json,newValue) {


                if(json['status']){

                    $.toast({heading: 'Başarılı',text: json['message'], position: 'top-right',loader: true,allowToastClose: false,showHideTransition: 'slide',icon: 'success'});

                    if(json['alert_type']==2){

                        Swal.fire({
                            title: 'Önemli Bir Mesele',
                            text: json['message'],
                            icon: 'warning',
                            showCancelButton: true,
                            confirmButtonColor: '#3085d6',
                            cancelButtonColor: '#d33',
                            confirmButtonText: 'Evet, Şimdi Güncelle!',
                            cancelButtonText: 'Şimdi Değil!'
                        }).then((result) => {
                            if (result.value) {

                                BootstrapDialog.show({
                                    title:'Toplu Güncelleme',
                                    message: function(dialog) {
                                        var $message = $('<div></div>');
                                        var pageToLoad = dialog.getData('pageToLoad');
                                        $message.load(pageToLoad);
                                        return $message;
                                    },
                                    data: {
                                        'pageToLoad': json['url']+'&{{ token_link }}'
                                    }
                                });



                            }
                        })


                    }


                }else {


                    Swal.fire('Hata',json['message'],'warning');



                }

            }});



    });

    $.fn.editableform.buttons =
        '<button type="submit" class="btn btn-primary btn-sm editable-submit">' +
        '<i class="fa fa-check"></i>' +
        '</button>' +
        '<button type="button" class="btn btn-danger btn-sm editable-cancel">' +
        '<i class="fa fa-times"></i>' +
        '</button>';


</script>

